[Unit]
Description=Play songs requested via the LitBit web app

[Service]
Type=simple
ExecStart=/usr/local/bin/litbit
User=root
WorkingDirectory=/usr/local/share/litbit/

[Install]
WantedBy=multi-user.target
