[Unit]
Description=Run the LitBit web app

[Service]
Type=simple
ExecStart=/usr/local/bin/litbit-server
User=root
WorkingDirectory=/usr/local/share/litbit/

[Install]
Wants=network-online.target
After=network-online.target
WantedBy=multi-user.target
